<!DOCTYPE html>
<html>
<head>
  <title>Booky</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    #content {
      padding-top: 50px;
    }

    h1 {
      font-weight: bold;
      font-size: 50px;
      margin: 30px 0 20px 0;
    }

    table thead {
      font-weight: bold;
    }

  </style>
</head>
<body>
{% include "::base.header.html.twig" %}
<div id="main" class="container">{% block content %}{% endblock %}</div>
{% include "::base.footer.html.twig" %}
</body>
</html>